{% extends 'home/base.html' %}
{% block title %}::.Listado Estudiantes O&amp;M.::{% endblock %}
<link rel="stylesheet" href="../../media/bootstrap/round-about/css/bootstrap.css">
<link rel="stylesheet" href="../../media/bootstrap/round-about/css/round-about.css">

	<div class="row">
	 <div class="col-lg-12">
	  <h2 class="page-header">
		<center>{{msg|title}}</center>
	</h2>
   </div>
  </div>
{% block content%}		
<style type="text/css">
	.estd_ul{margin:0;padding:0 70px;width:999px;height:300px;list-style:none outside none;}
	.estd_ul li{float: left;text-align:center;width:280px}
	</style>
   		<div class="row-container">
			<center>
		   	  <br>
		   	  <ul class="estd_ul"> 
		   	  	  {% for estd in estudiante %}
		   	  	 	 <li><img style="width: 100px; height: 100px;" alt="foto" src="{{MEDIA_URL}}{{estd.foto}}" class="foto">
			 		 <h3>{{estd.nombre|capfirst}} {{estd.apellido|capfirst}}<small><p> ({{estd.matricula}})</small></h3>
			      {% for correo in correo %}
			 		      {% if correo.estudiante_id == estd.id %} 
					          <p>{{correo.correo}}</p>
			 		      {% endif %}
			      {% endfor %}

			      {% for grupo in grupo %}
					  	  {% if estd.grupo_id == grupo.id %}
					          <p><b>Grupo:</b>{{grupo.num_grp}}</p>
					  	  {% endif %}
				  {% endfor %}
				  <button class="btn btn-primary">Reporte</button><p><br><br><p>
			 	</li>
		   	 {% endfor %}
				</ul>
			   </center>
			  </div> 
			   <div class="row text-center">
		        <div class="col-lg-12">
		        	<hr>

		          <ul class="pagination">
		          	{% if is_paginated %}
		        		{% if page_obj.has_previous %}
		          			<li><a href="{{page_obj.previous_page_number}}">«</a></li>
		          		{% endif %}
		          	    <li><a href="{{page_obj.start_index}}">1</a></li>
			            <li><a href="{{page_obj.next_page_number}}">2</a> </li>
		                <li><a href="{{page_obj.next_page_number}}">3</a> </li>
		            	<li><a href="{{page_obj.next_page_number}}">4</a> </li>
		            	<li><a href="{{page_obj.next_page_number}}">5</a> </li>
			    	    {% if page_obj.has_next%}
		                	<li><a href="{% url "vista_registrados" %}?pagina={{page_obj.next_page_number}}">»</a> </li>
		                {% endif %}		
		            {% endif %}
		            <br><br>
		            <b>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</b>
		          </ul>
		        </div>
		      </div>
{% endblock %}