<html><head>
<title>::.Registro Estudiantes O&M</title>
 <!-- Bootstrap core CSS -->
    <link href="../../media/bootstrap/round-about/css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS for the 'Round About' Template -->
    <link href="../../media/bootstrap/round-about/css/round-about.css" rel="stylesheet">

</head>
<body>
<center><h1>LOGIN</h1></center>
<center><label for="Usuario">Usuario</label><input type="text" name="usuario" value="usuario" /><p></center>
<center><label for="Password">Password</label><input type="password" name="password" value=""/></center>
<p>
<center><input type="submit" name="login" value="login" /></center>
 <!-- JavaScript -->
    <script src="../../media/bootstrap/round-about/js/jquery-1.10.2.js"></script>
    <script src="../../media/bootstrap/round-about/js/bootstrap.js"></script>
</body>
</html>