<html><head>
<title>::.Reporte Notas Estudiantes O&M.::</title>
</head>
<body>
<center><b>AQUI VA LOGO</b></center>
<br><br>
<center><b><h1>Reporte notas estudiantes O&M.</h1></b></center>
<br>
<table>
<td><b>Sesion:</b>811
<br>
<b>Asignatura:</b>Sistemas Operativos II
<br>
<b>Tanda:</b> Nocturna</td>
</table>
<table>
<td colspan="1" rowsp	an="1" width="1" height="1" bgcolor="#70E03A"><b>Matricula:</b><br><input type="text" name="matricula" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><b>Nombre:</b><br><input type="text" name="nombre" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><b>Asistencia:</b><br><input type="text" name="asistencia" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><b>Practicas:</b><br><input type="text" name="practicas" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><b>Parcial:</b><br><input type="text" name="parcial" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><b>Examen Final:</b><br><input type="text" name="final" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><b>Nota Final:</b><br><input type="text" name="nota" value="" /></td>
</table>
<table>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
</table>
<table>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
</table>
<table>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
</table>
<table>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
</table>
<table>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
<td colspan="1" rowspan="1" width="1" height="1" bgcolor="#70E03A"><input type="text" name="nota" value="" /></td>
</table>
<br>
<b>Total Inscritos:</b>18
<p>
<center><input type="button" name="pdf" value="Exportar PDF" /><input type="button" name="excel" value="Exportar Excel" /><input type="button" name="reporte" value="Imprimir Reporte" /></center>
</body>
</html>