{% extends 'home/base.html' %}
{% block title %}::.Sistema Universidad O&amp;ap;M.::{% endblock %}
{% block content %}

<link rel="stylesheet" href="../../media/css/estilo_index_oym.css" type="text/css">
<br><br><br><br><br><br>
<div id="main"> 
<div class="panel-izquierdo">
<li>Asistencia</li>
<li>Trabajo Individual</li>
<li>Trabajo en grupo</li>
<li>Parcial</li>
<li>Examen Final</li>


</div>

<div class="panel-central">Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>Contenido de la columna central<p>
</div> 

<div class="panel-derecho">Contenido de la tercera columna<p>Contenido de la tercera columna<p>Contenido de la tercera columna<p>Contenido de la tercera columna<p>
 </div> 
</div>
{% endblock %}

